body {
  background: whitesmoke;
}
.weather-app-body {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  background: rgb(119, 165, 179);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  padding: 30px;
  border: 4px solid rgb(68, 118, 132);
  border-radius: 16px;
  max-width: 300px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  font-size: 58px;
  line-height: 48px;
}

.weather-details {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 15px;
  font-weight: 500;
}

.weather-details strong {
  color: rgb(58, 124, 143);
}

.weather-app-container {
  display: flex;
  justify-content: center;
}
.weather-icon {
  height: 88px;
  width: 88px;
}
.weather-temperature {
  color: white;
  font-size: 50px;
  line-height: 88px;
  font-weight: bold;
}
.weather-metric {
  color: white;
  font-size: 28px;
  margin-top: 20px;
  font-weight: bold;
}
.enter-city-search {
  background-color: #f9f7fe;
  border-radius: 6px;
  border: 2px solid rgb(68, 118, 132);
  width: 55%;
  font-size: 10px;
  padding: 15px 20px;
  margin-left: 30px;
}
.search-button {
  background: rgb(68, 118, 132);
  padding: 15px 30px;
  border: none;
  font-size: 11px;
  margin-left: 5px;
  border-radius: 6px;

  color: white;
}
footer {
  text-align: center;
  font-size: 8px;
  margin-left: 23px;
}

a {
  color: #f9f7fe;
}
