body {
  background: whitesmoke;
}
.weather-app-body {
  background: rgba(169, 169, 252, 0.808);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
  max-width: 600px;
}

h1 {
}

.weather-details {
}

.weather-icon {
}
.weather-temperature {
}
.weather-metric {
}
.enter-city-search {
}
.search-button {
}
footer {
}

a {
}
